[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Externals/EasyWindow"]
	path = Externals/EasyWindow
	url = https://github.com/thennequin/EasyWindow.git
[submodule "Externals/sokol"]
	path = Externals/sokol
	url = https://github.com/floooh/sokol.git
