# Externals and scripts
Externals/glfw-3.2.1.bin.WIN32/
Externals/glfw-3.2.1.bin.WIN64/
scripts/glfw-3.2.1.bin.WIN32.zip
scripts/glfw-3.2.1.bin.WIN64.zip

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debug Objects files
*.pdb
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Intermediate/
*.sdf
*.opensdf

# Solution
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters

build/vs*/
.build/
.projects/

# SFF files
ImWindow.cpp
ImWindow.h

Externals/glfw-*
scripts/*.zip
